@import '/variable.less';

.my {
  height: calc(100vh - 56px);
  overflow-y: auto;

  --td-navbar-bg-color: @bg-color;
  --td-brand-color: @category-active-color;
  --td-cell-left-icon-color: @category-active-color;
  --td-avatar-content-color: @category-active-color;
  --td-avatar-bg-color: rgba(124, 92, 252, 0.12);

  .t-grid-item__icon {
    color: @category-active-color;
  }

  &-info,
  &-service,
  &-setting {
    background-color: #fff;
  }

  &-info {
    border-radius: 24rpx;
    margin: 8rpx 32rpx 0rpx 32rpx;
    padding-bottom: 32rpx;
    overflow: hidden;

    .cell-class-title {
      font-weight: 600 !important;
    }

    .cell-class-center {
      display: flex;
      align-items: center !important;
    }

    .divider-class {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .grid-class {
      margin-top: 40rpx;
    }

    .profile-row {
      &__inner {
        display: flex;
        align-items: center;
        padding: 32rpx;
        box-sizing: border-box;
      }

      &__inner--active:active {
        opacity: 0.7;
      }

      &__name {
        margin-left: 32rpx;
        line-height: 48rpx;
        font-size: 32rpx;
        font-weight: 600;
        color: #000000e6;
      }
    }

    .grid-item .t-grid-item__content {
      padding: 0px !important;
    }

    // 头像margin-right
    --td-spacer-1: 32rpx;
  }

  &-service {
    border-radius: 24rpx;
    margin: 32rpx;
    padding-bottom: 8rpx;
    overflow: hidden;

    &__list-item {
      .t-grid-item__content {
        padding-bottom: 16rpx !important;
      }
      .t-grid-item__text {
        height: 40rpx !important;
      }
    }

    &--tips {
      height: 44rpx;
      line-height: 44rpx;
      padding-left: 40rpx;
      margin-top: 32rpx;
      color: #000000e6;
      font-size: 28rpx;
      font-weight: 600;
    }
  }

  &-setting {
    margin: 32rpx;
    border-radius: 24rpx;
    overflow: hidden;
    background-color: #fff;
  }
}
